{% extends "layout.html" %}

{% block title %}
    buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-group" placeholder="Stock" name="stock" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" placeholder="Quantity" name="quantity" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Purchase</button><br>
        <p> {{ situation }} </p>
    </form>
{% endblock %}